body {
  background-color: #adaba8;
  /*background-image: url('https://st.depositphotos.com/1597597/2376/v/600/depositphotos_23765751-stock-illustration-leaf-pattern.jpg');*/
  margin: 0;
 
}

h1 {
  color: rgba(61, 61, 150, 0.849);
  text-align: center;
  margin-top: 100px;
}


p {
  color: #8b8b8bcc;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

button {
  color: #fff;
  background-color: #025157;
}

.fixed-header {
  position: fixed;
  z-index: 2;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
}

.header {
  margin: 40px 20px 40px 20px;
  font-size: 0;
  line-height: 45px;
  height: 45px;
  font-family: sans-serif;

}

.header >* {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

li {
  display: inline;
  margin: 0 25px;
}



.logo {
  width: 15%;
}

/* .navbar {
  margin-bottom: 40px;
  width: 70%;
  text-align: center;
  color: #025157;

} */

.carousel-inner {
  margin: 0 auto;
  height: 600px;
  
}
.col-sm-6 {
  margin-top: 50px;
}

.jumbotron h1,a {
  color: #025157;
}




.actions {
  width: 15%;
  text-align: left;
  font-size: 14px;
}

.actions > *{
  margin-left: 10px;
  margin-right: 10px;
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}

.promo-section {
  display: flex;
  width: 70%;
  margin: 100px auto;

}



.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form {
  display: flex;
 
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}

.publish {
  margin-left: 50px;
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 120px;
  margin-top: 10px;
}

/*
.signup {
  width: 400px;
  font: normal bold 12px Verdana, Arial;
  
}

.signup label {
  display: inline-block;
  width: 150px;
}

.signup input {
  display: inline-block;
  width: 200px;
  margin-bottom: 5px;
}
*/

.features {
  /*display: grid;*/
  /*grid-template-columns: 300px 300px;*/
  /*grid-template-columns: repeat(2,300px);*/
  /*grid-template-columns: 500px 1fr;*/
  /*grid-template-columns: 1fr 1fr;*/
}

.features {
  display: grid;
  background-color: #025157;
  /*grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);*/
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  padding-top: 50px;
  padding-bottom: 50px;
  padding: 5% 10%;
  
}

.feature-art {
  background-color: white;
  border-radius: 5px;
  display: flex;
  margin: 15px;
  overflow: hidden;
  height: 320px;
  
}

.feature-art .content {
  padding: 30px 20px 40px 40px;
  flex: 2;
}

.feature-art .content h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;

}

.feature-art .content a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.feature-art .image{
  flex: 1;
  width: 40%;
  position: relative;
  right: -10px;
}

.feature-art .image img {
  width: 400px;
  height: 300px;
}

.feature-art .content img {
  width: 50px;
}

.feature-art .content p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}



/*------------------------------*/
.postwork {
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  
}

.postwork .overview {
  flex: 2;
  padding-right: 100px;
  
}

.postwork .overview img {
  width: 500px;
  max-width: 100%;
}


.postwork .overview h2 {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
}

.postwork .overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.postwork .overview button {
  font-size: 14px;
  padding: 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
}

.postwork .study-cases {
  position: static;
  flex: 1;
  padding-right: 10px;
  flex-flow: column;
  background-color: white;
  border-radius: 8px;
  padding: 0;
}

.postwork .study-cases figure {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  width: 100%;
}

.postwork .study-cases .worker img {
  width: 100%;
  max-height: 16vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}

.postwork .study-cases .company {
  z-index: 1;
  position: relative;
  bottom: 80px;
  right: -170px;
  width: 100px;
  height: 100px;
  background-color: #f9da73;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postwork .study-cases .company img {
  max-width: 75%;
}

.postwork .study-cases .description{
  position: relative;
  bottom: 80px;
  margin-top: 0;
  margin-left: 20px;
  margin-top: 20px;
  
}



.postwork .study-cases .description h4 {
  color: #025157;
  font-size: 22px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
  
}

.postwork .study-cases .description h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.postwork .study-cases .result {
  position: relative;
  bottom: 30px;
  display: flex;
  align-items: center;
  color: #828282;
}

.postwork .study-cases .result img {
  width: 26px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.postwork .study-cases .result p {
  margin-top: 0;
}

.postwork .study-cases button {
  display: block;
  margin: 40px 0 40px 0;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 20px;
  width: 90%;
  margin-left: 15px;
  margin-right: 20px;
}

/*-------------------------------*/

.how-it-works {
  text-align: center;
}
.how-it-works h3 {
  color: #025157;
  font-family: "Alegreya", serif;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}
.how-it-works p {
  color: #46484c;
  font-size: 1.1rem;
  padding: 0 25%;
  margin-top: -.7rem;
}
.how-it-works a {
  text-decoration: none;
  color: #67b54b;
}
.how-it-works button {
  color: #fff;
  background-color: #025157;
  padding: 12px 14px 12px 14px;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  font-size: .9em;
}
.how-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 4rem 11rem;
}
.how-card {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: .7px;
  border-radius: 5px;
  max-width: 17rem;
  overflow: hidden;
}
.how-card-img {
  display: flex;
  height: 55%;
}
.how-card-img .how-card-image {
  max-width: 100%;
  position: relative;
  right: 2em;
}
.how-card-img .how-card-icon {
  width: 1.2em;
  height: 1.2em;
  margin: 2rem 0 0 1.5rem;
  position: relative;
}
.how-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how-card .how-card-text h5 {
  text-align: center;
  font-family: "Alegreya", sans-serif;
  font-size: 1.8em;
  margin-bottom: 1em;
  color: #025157;
}
.how-card .how-card-text p {
  text-align: left;
  font-size: .9em;
  align-self: flex-start;
  margin-left: -3.5em;
  margin-right: -3.5em;
  margin-bottom: 2em;
}
.how-card .how-card-text a {
  text-align: left;
  align-self: flex-start;
  margin-left: 1em;
  font-weight: 600;
}







/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  .navbar , .actions {
    display: none;
  }
  h1 {
    font-size: 25px;
    margin-top: 60px;
  }

  .header{
   margin: 10px 20px 10px 20px;
   
  }

  .banner > img {
    width: 100%;
  }

  .signup {
    width: 400px;
    font: normal bold 12px Verdana, Arial;
    display: flex;
    flex-direction: column;
  }
  
  .signup label {
    width: 150px;
  }
  
  .signup input {
    width: 200px;
    margin-bottom: 5px;
  }

  .promo-section {
    flex-direction: column;
    max-width: 90%;
  }

  .explanatory-video > video {
    width: 100%;
  }

  .publish {
    margin-top: 10px;

  }
  
  .publish > h3 {
    font-size: 25px;
    line-height: 1.2;
  }

  .features {
    grid-template: repeat(4, 1fr) / 1fr;
    
  }
  

}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
  
}

